---
import { Picture } from "astro:assets";

import LinkButton from "../components/LinkButton.astro";
import BaseHead from "../components/BaseHead.astro";
import Banner from "../components/Banner.astro";

import Avatar from "../assets/images/avatar-yueyue-1.png";
---

<Banner />

<html lang="zh-Hans">
  <head>
    <BaseHead />
  </head>

  <body>
    <div
      class="card md:flex md:items-center max-w-screen-lg min-w-[375px] min-h-screen mx-auto md:min-h-max pt-16 md:pt-0 md:mt-32 rounded-0 md:rounded-3xl bg-sky-300"
    >
      <Picture
        class="avatar size-96 min-w-96 flex-auto mx-auto"
        src={Avatar}
        formats={["avif", "webp"]}
        alt="可爱的月月"
        loading="eager"
      />

      <div class="info flex-auto px-2">
        <p
          class="name text-5xl my-4 text-center md:text-left text-gray-900 backdrop-blur-3xl"
        >
          冬月の北极猫
        </p>
        <p class="description my-4 text-center md:text-left text-gray-600">
          可爱猫猫 / Live 2D 工程师 / VUP / ...
        </p>

        <hr />

        <div class="links flex justify-center md:justify-start flex-wrap">
          <LinkButton
            icon="ant-design:bilibili-filled"
            url="https://space.bilibili.com/25644004/"
            color="text-pink-400"
            descript="哔哩哔哩"
          />

          <LinkButton
            icon="ant-design:qq-outlined"
            url="/qq"
            color="text-black"
            descript="QQ"
            newWindow={false}
          />

          <LinkButton
            icon="fa6-brands:x-twitter"
            url="https://twitter.com/Winter_Cat_1"
            color="text-black"
            descript="twitter / x"
          />

          <LinkButton
            icon="fa6-brands:telegram"
            url="https://t.me/Winner_Cat_bilibil"
            color="text-blue-400"
            descript="telegram"
          />

          <!-- <LinkButton /> -->
        </div>
      </div>
    </div>
  </body>
</html>
