---
import { Picture } from "astro:assets";

import BaseHead from "../components/BaseHead.astro";
import Banner from "../components/Banner.astro";

import QQCode from "../assets/images/qq-qrcode.jpg";
---

<Banner />

<html lang="zh-Hans">
  <head>
    <BaseHead />
  </head>

  <body>
    <div
      class="card max-w-screen-lg min-w-[375px] min-h-screen mx-auto md:min-h-max pt-16 md:pt-0 md:mt-32 rounded-0 md:rounded-3xl bg-black"
    >
      <Picture
        class="mx-auto md:w-1/2"
        src={QQCode}
        formats={["avif", "webp"]}
        alt="加好友"
        loading="eager"
      />

      <!-- <div class="links flex justify-center md:justify-start flex-wrap w-24">
      </div> -->
    </div>
  </body>
  <script>
    window.onload = () => {
      window.open("https://qm.qq.com/q/nufSKuQ5Mc");
    };
  </script>
</html>
