---
interface Props {
  title?: string;
}

const { title = "冬月の北极猫" } = Astro.props;
---

<title>{title}</title>

<meta charset="UTF-8" />

<meta name="description" content="Astro description" />
<meta name="viewport" content="width=device-width" />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />

<meta name="generator" content={Astro.generator} />

<meta name="design-by" content="too_long_name" />
