---
import { Icon } from "astro-icon/components";

interface Props {
  color?: string;
  icon: string;
  url: string;
  descript?: string;
  newWindow?: boolean;
}

const {
  color = "text-black",
  icon,
  url,
  descript = "",
  newWindow = true,
} = Astro.props;

const target = newWindow ? "_blank" : "_self";
---

<div>
  <a
    href={url}
    target={target}
    class:list={color}
    aria-label={descript}
    class="link-button flex justify-center items-center m-4 rounded-full shadow-lg bg-white glass size-14"
  >
    <Icon class="size-8" name={icon} />
  </a>
</div>

<style define:vars={{ descript }}>
  .glass {
    background-color: rgba(255, 255, 255, 0.4) !important;
    backdrop-filter: blur(1px);
  }

  /* .link-button {
    animation: animateOut;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  .link-button:hover {
    animation-name: animateIn;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
  }

  .link-button:hover::after {
    content: var(--descript);
  }

  @keyframes animateIn {
    from {
      width: 3.5rem;
    }
    to {
      width: 9rem;
    }
  }

  @keyframes animateOut {
    from {
      width: 9rem;
    }

    to {
      width: 3.5rem;
    }
  } */
</style>
